body {
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI',  sans-serif;
     /* background: linear-gradient(to right , #ffge423 , #ff4e50); */
     display: flex;
     background: linear-gradient(to right ,#ffd423   , #ff4e50);
     align-items: center;
     justify-content: center;
     height: 100vh;
}

.card {
 background: white;
 border-radius: 20px;
 padding: 40px;
 text-align: center;
 box-shadow:  0 10px 25px rgba (0,0,0,0.2);
 position: relative;
 max-width: 400px;
}

.card h1 {
    font-size: 1.8em;
    color: #ff4e50;
}

.card p {
    font-size: 1.2em;
    color: #555;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff4e50;
    border: none;
    color: white;
    font-size: 1 em ;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button :hover {
    background: #e33b3b;
}

#balloons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;

}

.balloon{
    width: 30px;
    height: 40px;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    animation: floatup 4s linear forwards;
}
@keyframes floatup {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
            transform: translateY(-120%);
        opacity: 0;
    }
}